@media all and (max-width: 670px) {
  .header-right{
    display:none;
  }
  .menu-icon{
    display:none;
  }
  .header-left h2{
    font-size: 21px;
  }
  .main-title{
    margin-bottom: 1px;
  }
  .service-icon{
    width:100%;
    text-align: center;
  }
  .exp{
    text-align: center;
  }
  .works img{
    width: 100%;
    text-align: center;
  }
  .photo-box{
    text-align: center;

  }
  .container{
    margin: 0 auto;
  }
}
