/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  color: rgb(26,25,25);
  background: rgb(239,239,240)
  width:100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  border-radius: 10%;
  white-space: nowrap;
  color: #fff;
}
.header{
  background-color: rgba(50,50,51,0.9);
  width:100%;
  height: 55px;
  position: fixed;
  z-index: 10;
  top: 0;
}
.container{
  width: 88%;
  margin:0 auto;
}

.header-left{
  float:left;
  line-height:55px;
}
.menu-icon{
  display: none;
}
.name{
  position: relative;
  color: white;
}
.drawing{
  background-color: rgba(130, 0, 0, 0.2);
  width:100px;
  padding:25px 50px;
  border-radius: 50%;
  position:absolute;
}
.drawing2{
  background-color: rgba(0,140, 0, 0.2);
  width:40px;
  padding: 25px 25px;
  position:absolute;
  top: 0;
  border-radius: 50%;

}

.name h2{
  top:9%;
  width: 100%;
  transition: all 0.5s;
}

.btn-menu{
  float:right;
  display:block;
  line-height: 40px;
  background-color: rgba(39,39,40,0.4);
  transition: all 0.5s;
  padding:0 15px;
  color: white;
}
nav{
  position: absolute;
  top: 45px;
  right: 0;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  background: rgba(70,71,78);
  z-index: 1;
  transition: 0.5s;
  padding-top: 25px;
  padding-bottom: 25px;

}
nav li{
  padding: 18px 0;
}
.header-right a{
  display: block;
}
.open-menu{
  width: 100%;
}

a:hover{
  background-color: rgba(10, 10, 15, 0.5);
  transition: 0.2s;
}
.clear{
  clear: both;
}
.video-container{
  position: relative;
  overflow-x: hidden;
}
.main-title{
  position: absolute;
  top: 300px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.sentence{
  text-align: center;
  margin: 30px 0;

}
.sentence1{
  transition: all 0.8s;
}
.space-sentence{
  margin-left:60px;
}
.sentence2{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  transition: all 1.8s;
}
.service{
  text-align: center;
}
.service-wrapper h1{
  font-weight: 100;
}
.service-wrapper{
  background: rgb(235,235,243);
  margin:0 auto;
}
.service h1{
  padding: 15px;
  font-family: sans-serif;
}

.service-icon{
  float:left;
  width:33%;

}
.service-icon img{
  width:80%;

}
.exp{
  width: 80%;
  padding-bottom: 40px;
}

}
video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100px;
  height: 100px;
  z-index: -10;
  background: url("posterimage.jpg");
  background-size: cover;
}
.works{
  text-align: center;
}
.works h1{
  font-weight: 100;
  padding: 15px;
  font-family: sans-serif;
}
video{
  width: 100%;
}

.photo{
  width: 45%;
  float: left;
  margin: 0 auto;
  margin: 20px 0;
}
.photo img {
  display:block;
  text-align: center;
  padding-left: 25%;

}
.photo img video:hover{
  opacity: 1.0;
}
